<html>
<head>
<title>Install package</title>
</head>  
<form action="{% url 'take_view' %}" method="GET">
<blockquote>
<h1 style="text-align: center;">This is to <span style="color: #0000ff;">install package</span> in the hostname:</h1>
<h3 style="text-align: center;">&nbsp;</h3>
<h3 style="text-align: center;">Enter the hostname:<input name="hname" type="text" /></h3>
<h3 style="text-align: center;">Enter the package name:<input name="pname" type="text" /></h3>
<h3 style="text-align: center;"><input type="submit" value="Install" /></h3>
</blockquote>
</form>
</html>
